html *
{
   font-size: 12px ;
   color: #000 ;
     font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
d
}

h1{
    text-align: center;
    font-family: "Open Sans", verdana, arial, sans-serif;
    font-size: 30px
}
h2{
    font-family: "Open Sans", verdana, arial, sans-serif;
    font-size: 18px
    font-weight: 300
}

.DivTable{
   flex: 5;
   padding-left:15px;
   padding-right:30px;
   padding-bottom:30px;
   padding-top:30px;
}

.DivKarte{
   flex: 9;
   max-width: 100%;
   padding-left:30px;
   padding-right:15px;
   padding-bottom:30px;
   padding-top:30px;
       display: flex;
    flex-direction: column;
}

#world_map {
flex: 1;
}

.Slider{
    width: 60%;
    margin: auto
    }

.Dropdown{

    font-family: sans-serif;
    font-size: 12px
}


#UnteresDiv{
    padding:50px;
}




.DivBar{
    flex: 2;
    width: 100%;
    height: 100%;
    padding-right: 0px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.DivPie{
    flex: 1;
    width: 100%;
    height: 100%;
    padding-right: 30px;
    padding-left: 0px;
    padding-top: 30px;
    padding-bottom: 30px;}




.dash-spreadsheet-menu {
    justify-content: flex-end;
    padding: 1rem 0 ;
}

.dash-spreadsheet-menu button {
    font-size: 0;
}

.dash-spreadsheet-menu button::after {
content: 'Tabelle exportieren';
    font-size: 0.8rem;
    }


._dash-loading {
font-size: 0;
}

    ._dash-loading::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -30px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 5px solid #aae1fb;
    border-top-color: black;
    animation: loading 2s linear infinite;

}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}